@import url(forms.css);

h1 {
  color: white;
  font-size: 3em;
  margin-bottom: -10px;
}
h3 {
  padding: 0;
  color: white;
  margin-right: auto;
}

p {
  font-family: inherit;
  color: var(--light);
}

input {
  font-size: large;
  width: 12em;
  border: 1px solid transparent;
}

a .secondary-options {
  text-decoration: none;
  font-weight: 600;
  font-family: var(--second-font);
  color: var(--light);
  margin-bottom: 5px;
  padding-bottom: 1em;
  transition: font-size 0.1s;
}

a .secondary-options:hover {
  font-size: 17px;
  color: white;
}

.log-container {
  width: 57%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  width: min-content;
  padding: 3em;
  border-radius: 20px;
}

button {
  padding: 0.6em 3em;
  margin: 1.5em 1em;
  border: 3px solid var(--accent);
  text-transform: uppercase;
  background-color: var(--light);
  border-radius: 15px;
  font-weight: 700;
}

button:hover {
  background-color: var(--second-accent);
  color: var(--light);
  transition: ease-in 0.7s;
}

#volver {
  padding-bottom: 0;
  text-align: center;
  background-color: transparent;
  margin: 0 auto;
  font-size: 1.5em;
  border-radius: 25px;
  border: 3px solid var(--second-accent);
}
