@import url(./styles.css);

body {
  background-size: 100% 100%;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  background-image: repeating-linear-gradient(
      315deg,
      #00ffff2e 92%,
      #073aff00 100%
    ),
    repeating-radial-gradient(
      75% 75% at 238% 218%,
      #00ffff2e 30%,
      #073aff14 39%
    ),
    radial-gradient(99% 99% at 109% 2%, #023730ff 0%, #073aff00 100%),
    radial-gradient(99% 99% at 21% 78%, #00a991 0%, #073aff00 100%),
    radial-gradient(160% 154% at 711px -303px, #0b0808ff 82%, #0b0a0aff 98%);
  height: 100vh;
  overflow: hidden;
}

h1 {
  color: var(--second-accent);
  font-size: 3em;
  margin-bottom: -10px;
}
h3 {
  font-weight: 400;
  margin-right: auto;
}

p {
  font-family: inherit;
  color: var(--light);
}
input {
  width: 12em;
  border: 1px solid transparent;
}

a {
  text-decoration: none;
  font-weight: 600;
  font-family: var(--second-font);
  color: var(--light-dark);
  margin-bottom: 5px;
}
a:last-child {
  padding-bottom: 1em;
}

.log-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  background: var(--light);
  background-color: rgba(245, 243, 243, 0.898);
  border: solid 2px var(--accent);
  height: 200px;
  width: min-content;
  padding: 7em;
  border-radius: 20px;
}

button {
  padding: 0.6em 3em;
  margin: 1.5em 1em;
  border: 3px solid var(--accent);
  text-transform: uppercase;
  background-color: var(--light);
  border-radius: 15px;
  font-weight: 700;
}
