

body {
    height: 100%;
    background-size: cover;
    display: grid;
    grid-template-areas:
      "nav nav nav nav"
      "calendario turnos turnos turnos"
      "botonera turnos turnos turnos"
      "footer footer footer footer";
  }

  nav{
    grid-area: nav;
    margin-left: 1em;

  }
  
  div.calendario{
    grid-area: calendario;
    
  }

  div.turnos{
    grid-area: turnos;
  }

  div.botonera{
    grid-area: botonera;
  }
  footer{
    grid-area: footer;
  }