html{
  height: cover;
}

body {
    height: 100vh;
    background-size: cover;
    display: grid;
    grid-template-areas:
      "nav nav nav nav"
      "turnos turnos turnos turnos"
      "footer footer footer footer";
  }

  nav{
    grid-area: nav;
    margin-left: 1em;
    padding: 1em;

  }

  footer{
    grid-area: footer;
  }

  .calendly-inline-widget{
   
    min-height: max-content;
    display: block;
  }

  #turnos-head{
    grid-area: texto;
  }

  

